<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <script th:src="@{/js/code.jquery.com_jquery-3.7.0.min.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>

  <title>Афиша</title>
</head>
<body>
  <div class="container-fluid p-0">
    <header th:insert="~{blocks/header :: header}"></header>
    <div class="container mt-2 mb-2">
      <div class="row align-items-center" th:each="film : ${films}">
        <div class="col text-center m-1">
          <img th:src="@{/files/{fileId}(fileId=*{film.fileId})}" class="w-50" alt="Image">
        </div>
        <div class="col m-1">
          <ul>
            <li><div th:text="'Название: ' + ${film.name}"/></li>
            <li><div th:text="'Год производства: ' + ${film.year}"/></li>
            <li><div th:text="'Жанр: ' + ${film.genre}"/></li>
            <li><div th:text="'Возрастной рейтинг: ' + ${film.minimalAge} + '+'"/></li>
            <li><div th:text="'Время: ' + ${film.durationInMinutes} + ' мин'"/></li>
            <li><div th:text="'Описание: ' + ${film.description}"/></li>
          </ul>
        </div>
        <hr class="col-12" />
      </div>
    </div>
    <footer th:insert="~{blocks/footer :: footer}"></footer>
  </div>
</body>
</html>